.download-wrapper {
  margin-top: 10px;
  position: relative;
  height: calc(100vh - 110px);

  &__button {

    &.download-wrapper__button_inactive {
      label {
        background-color: #676767;
        cursor: inherit;
        user-select: none;

        &:hover {
          background-color: #676767;
        }
      }
    }

    label {
      width: 100%;
      height: 55px;
      background-color: rgb(255, 61, 61);
      color: #ffffff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      cursor: pointer;
      transition: .4s all;
      font-family: Gilroy-Medium, sans-serif;

      &:hover {
        transition: .4s all;
        background-color: rgb(253, 25, 25);
      }
    }

    input {
      display: none;
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 333px;
    color: rgba(0, 0, 0, 0.66);
    text-transform: uppercase;
  }

  &__files {
    margin-top: 15px;

    .files-item {
      background-color: #ffffff;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      box-sizing: border-box;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &__info {
        max-width: 300px;
        min-width: 300px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:hover {
        box-shadow: 0 0 10px 10px rgba(253, 0, 0, 0);

        .files-item__del {
          transition: .3s all;
          opacity: 1;
          user-select: inherit;

          &:hover {
            transform: scale(1.1);
            transition: .3s all;
          }
        }
      }

      &__convert {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 60px;

        h6 {
          font-size: 1.1rem;
          margin-right: 10px;
          text-transform: uppercase;
        }

        .option-block {
          position: relative;

          &.open {
            .option-block__list {
              border-right: 1px solid #000000;
              border-left: 1px solid #000000;
              border-bottom: 1px solid #000000;
            }
          }

          &__current {
            font-size: 1rem;
            color: rgb(0,0, 0);
            width: 80px;
            height: 30px;
            border: 1px solid #000000;
            text-align: center;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all;
            font-family: 'Gilroy-Medium', sans-serif;
            text-transform: uppercase;

            &:hover {
              transition: .3s all;
              background-color: rgba(86, 163, 253, 0.22);
            }
          }

          &__list {
            box-sizing: border-box;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            width: 100%;
            background-color: #ffffff;
            height: 0;
            overflow: hidden;
            transition: .4s all;

            &.open-list {
              height: 105px;
              transition: .4s all;
            }

            .list__item {
              background-color: #ffffff;
              text-align: center;
              font-size: 1rem;
              font-family: 'Gilroy-Medium', sans-serif;
              width: 100%;
              padding: 8px 0;
              transition: .3s all;
              text-transform: uppercase;

              &:hover {
                transition: .3s all;
                background-color: rgba(118, 255, 227, 0.55);
              }
            }
          }
        }
      }

      &__type {
        width: 50px;
        height: 50px;
        background-color: rgba(77, 77, 77, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        p {
          font-weight: 600;
          color: rgba(255, 0, 0, 0.91);
        }
      }

      &__info {
        p {
          font-size: 1rem;
          font-weight: 600;
        }

        small {
          display: block;
          margin-top: 4px;
          font-family: Gilroy-Medium, sans-serif;
          color: rgba(0, 0, 0, 0.71);
        }
      }

      &__del {
        transition: .3s all;
        margin-right: 0;
        margin-left: auto;
        opacity: 0;
        user-select: none;
      }
    }
  }

  &__convert {
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 55px;
    width: 628px;

    button {
      border: none;
      width: 100%;
      height: 100%;
      background-color: rgb(26, 152, 255);
      color: #ffffff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      cursor: pointer;
      transition: .4s all;
      font-family: Gilroy-Medium, sans-serif;
      outline: none;

      &:hover {
        transition: .3s all;
        background-color: rgb(27, 114, 183);
      }
    }
  }
}
