* {
  padding: 0;
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-weight: normal;
}

.app {
  height: calc(100vh - 10px);
  background-color: aliceblue;
  padding: 5px;

  &__text {
    font-size: 1.25rem;
    text-align: left;
  }

  main {
    width: 628px;
    margin: 20px auto 0 auto;
  }

  header {
    position: relative;

    h1 {
      text-align: center;
      font-family: Gilroy-SemiBold,sans-serif;
      font-size: 2.25rem;
      text-transform: uppercase;
    }
  }
}
